@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@layer base {
  :root {
    /* Colores de Fondo y Foreground */
    --background: 0 0% 100%; /* white: #FFFFFF */
    --foreground: 210 24% 28%; /* dusk: #2C3E50 */

    /* Colores de Tarjeta (Card) */
    --card: 0 0% 100%; /* white: #FFFFFF */
    --card-foreground: 210 24% 28%; /* dusk: #2C3E50 */

    /* Colores de Popover */
    --popover: 60 100% 94%; /* solarHighlight: #FFFACD */
    --popover-foreground: 210 24% 28%; /* dusk: #2C3E50 */

    /* Colores Primarios */
    --primary: 51 100% 50%; /* sunbeam: #FFD700 */
    --primary-foreground: 0 0% 100%; /* white: #FFFFFF */

    /* Colores Secundarios */
    --secondary: 197 71% 73%; /* sky: #87CEEB */
    --secondary-foreground: 210 24% 28%; /* dusk: #2C3E50 */

    /* Colores Muted */
    --muted: 60 100% 94%; /* solarHighlight: #FFFACD */
    --muted-foreground: 197 71% 73%; /* sky: #87CEEB */

    /* Colores de Acento */
    --accent: 39 100% 50%; /* solarAccent: #FFA500 */
    --accent-foreground: 210 24% 28%; /* dusk: #2C3E50 */

    /* Colores Destructivos */
    --destructive: 15 100% 63%; /* sunset: #FF8A5C */
    --destructive-foreground: 0 0% 100%; /* white: #FFFFFF */

    /* Colores de Borde, Input y Ring */
    --border: 60 100% 94%; /* solarHighlight: #FFFACD */
    --input: 60 100% 94%; /* solarHighlight: #FFFACD */
    --ring: 51 100% 50%; /* sunbeam: #FFD700 */

    /* Colores para el Badge */
    --success: 122 39% 49%; /* foliage: #4CAF50 */
    --success-foreground: 60 100% 94%; /* solarHighlight: #FFFACD */
    --warning: 39 100% 50%; /* solarAccent: #FFA500 */
    --warning-foreground: 210 24% 28%; /* dusk: #2C3E50 */
    --error: 15 100% 63%; /* sunset: #FF8A5C */
    --error-foreground: 60 100% 94%; /* solarHighlight: #FFFACD */

    /* Radio de Bordes */
    --radius: 0.5rem;
  }

  .dark {
    /* Colores de Fondo y Foreground en Modo Oscuro */
    --background: 210 24% 28%; /* dusk: #2C3E50 */
    --foreground: 60 100% 94%; /* solarHighlight: #FFFACD */

    /* Colores de Tarjeta (Card) en Modo Oscuro */
    --card: 210 24% 28%; /* dusk: #2C3E50 */
    --card-foreground: 60 100% 94%; /* solarHighlight: #FFFACD */

    /* Colores de Popover en Modo Oscuro */
    --popover: 210 24% 28%; /* dusk: #2C3E50 */
    --popover-foreground: 60 100% 94%; /* solarHighlight: #FFFACD */

    /* Colores Primarios en Modo Oscuro */
    --primary: 51 100% 50%; /* sunbeam: #FFD700 */
    --primary-foreground: 210 24% 28%; /* dusk: #2C3E50 */

    /* Colores Secundarios en Modo Oscuro */
    --secondary: 197 71% 73%; /* sky: #87CEEB */
    --secondary-foreground: 60 100% 94%; /* solarHighlight: #FFFACD */

    /* Colores Muted en Modo Oscuro */
    --muted: 210 24% 28%; /* dusk: #2C3E50 */
    --muted-foreground: 197 71% 73%; /* sky: #87CEEB */

    /* Colores de Acento en Modo Oscuro */
    --accent: 39 100% 50%; /* solarAccent: #FFA500 */
    --accent-foreground: 60 100% 94%; /* solarHighlight: #FFFACD */

    /* Colores Destructivos en Modo Oscuro */
    --destructive: 15 100% 63%; /* sunset: #FF8A5C */
    --destructive-foreground: 210 24% 28%; /* dusk: #2C3E50 */

    /* Colores de Borde, Input y Ring en Modo Oscuro */
    --border: 210 24% 28%; /* dusk: #2C3E50 */
    --input: 210 24% 28%; /* dusk: #2C3E50 */
    --ring: 51 100% 50%; /* sunbeam: #FFD700 */

    /* Colores para el Badge en Modo Oscuro */
    --success: 122 39% 49%; /* foliage: #4CAF50 */
    --success-foreground: 60 100% 94%; /* solarHighlight: #FFFACD */
    --warning: 39 100% 50%; /* solarAccent: #FFA500 */
    --warning-foreground: 210 24% 28%; /* dusk: #2C3E50 */
    --error: 15 100% 63%; /* sunset: #FF8A5C */
    --error-foreground: 60 100% 94%; /* solarHighlight: #FFFACD */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes pulse1 {
  0% {
    transform: scale(0.95);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.05);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(0.9);
    opacity: 0.4;
  }
  50% {
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}

.pulse-ring {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #6EB846;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}

@keyframes pulseEffect {
  0% {
    transform: scale(0.95);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.25;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.5;
  }
}

.animate-pulse-fast {
  animation: pulseEffect 1.2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-pulse-medium {
  animation: pulseEffect 1.6s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-pulse-slow {
  animation: pulseEffect 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
